
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family:"Verdana", sans-serif;
}

.body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(194,0,0,1) 100%, rgba(0,212,255,1) 100%);
}


.title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: clamp(2rem, 10vw, 10%);
  }

  .luffy {
    width: 20%;
    object-fit: cover;
    transition: all 0.5s ease;
  }

  .content {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

   .subtitle {
      font-size: 30px
    }

    .title {
      font-size: 40px
      
    }

    .description {
      font-size: 18px
      
    }

    .nav {
      display: flex;
      gap: 1rem;
      width: fit-content;

      &:hover > :not(:hover) {
        opacity: 0.6;
      }
    }





